section.section.contact_us
	.section_in
		.contact_us__wrapper
			.contact_us__decor
			.contact_us__photo
				+picture({
					img: 'director',
					png: true,
					class: 'contact_us__photo_bg',
					img_class: 'contact_us__photo_img',
				})
				.contact_us__card
					span.contact_us__name Анна Александровна
					span.contact_us__position Руководитель отдела продаж #[br]Insli Недвижимость
			.contact_us__content
				.contact_us__title Свяжитесь с нами
				.contact_us__description Мы понимаем что выбор загородного дома это непросто, мы готовы облегчить и сделать процесс приятным. 
				.contact_us__btns 
					a.btn.btn--style_filled(href="#") Написать
					a.btn.btn--style_bordered(href="#") Позвонить