section.section.hero_dark 
	.section_in 
		.hero_dark__title А еще мы можем подобрать программу ипотечного кредитования, сделать расчет платежей и помочь заполнить заявку
		.hero_dark__btns 
				a.btn.btn--style_filled(href="#") Ипотека
				a.btn.btn--style_bordered(href="#") о нас