section.section.main_plan 
  +picture({
    img: 'plan',
    class: 'main_plan__picture',
    img_class: 'main_plan__img',
  })
  .section_in
    .section_title.section_title--mod_color_secondary Генеральный план #[br]коттеджного поселка