mixin header
	header.header
		.header_main_row
			a(href="#").header_logo
				img.header_logo__img(src="images/logo.svg", alt="")
			.menu_trigger.menuTrigger
				span.menu_trigger_decor
			.header_actions
				a.btn.btn--style_bordered(href="tel:8 800 555 35 35") 8 800 555 35 35
				a.btn.btn--style_filled(href="#") Оставить заявку
		// sidebars
		.main_sidebar
		.user_sidebar