block vars
  -
    array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Index'}
    blogTags = [
      {title: 'bitcoin', link:'#'},
      {title: 'bittorrent', link:'#'},
      {title: 'irc', link:'#'},
      {title: 'news', link:'#'},
      {title: 'privacy', link:'#'},
      {title: 'programming', link:'#'},
      {title: 'security', link:'#'}
    ]

    blogPosts = [
      {
        title: 'The Internet Cannot be Trusted – Beamsplitters, Backdoors, and Broken Promises', 
        link:'#', 
        image: 'article1',
        author: 'Derek Zimmer',
        date: 'JUL 25, 2018',
        categories: [{name: 'Governments', link: '#'}, {name: 'Networking', link: '#'}, {name: 'Open Source', link: '#'}, {name: 'Privacy', link: '#'}, {name: 'Security', link: '#'}] 
      },
      {
        title: 'How to get cheaper flights using a VPN', 
        link:'#', 
        image: 'article2',
        author: 'Jayson',
        date: 'JUL 24, 2018',
        categories: [{name: 'Guides', link: '#'}] 
      },
      {
        title: 'Net Neutrality was repealed, but the fight is far from over', 
        link:'#', 
        image: 'article3',	
        author: 'Chris Miller',
        date: 'JUL 22, 2018',
        categories: [{name: 'Governments', link: '#'}, {name: 'Net Neutrality', link: '#'}, {name: 'News', link: '#'}] 	
      },
      {
        title: 'The Internet Cannot be Trusted – Beamsplitters, Backdoors, and Broken Promises', 
        link:'#', 
        image: 'article1',	
        author: 'Derek Zimmer',
        date: 'JUL 25, 2018',
        categories: [{name: 'Governments', link: '#'}, {name: 'Networking', link: '#'}, {name: 'Open Source', link: '#'}, {name: 'Privacy', link: '#'}, {name: 'Security', link: '#'}] 
      },
      {
        title: 'How to get cheaper flights using a VPN', 
        link:'#', 
        image: 'article2',	
        author: 'Jayson',
        date: 'JUL 24, 2018',
        categories: [{name: 'Guides', link: '#'}] 
      },
      {
        title: 'Net Neutrality was repealed, but the fight is far from over', 
        link:'#', 
        image: 'article3',	
        author: 'Chris Miller',
        date: 'JUL 22, 2018',
        categories: [{name: 'Governments', link: '#'}, {name: 'Net Neutrality', link: '#'}, {name: 'News', link: '#'}] 	
      },	
    ]	

    announcements = [
      {title: 'Upcoming Changes (Live Chat, Less Censorship, More Access)', link:'#'},
      {title: 'New Servers (US Washington DC)', link:'#'},
      {title: 'New Servers (US Denver)', link:'#'},
      {title: 'Open Source: Releasing the PIA iOS Client', link:'#'},
      {title: 'Opera Extension is now available', link:'#'}
    ]
    popular = [
      {title: 'The Gift of Privacy', link:'#'},
      {title: 'UK High Court Censors Many Links To Popcorn Time: Useless, Dangerous Gesture', link:'#'},
      {title: 'About the PIA Client Security and VPN Security in General', link:'#'},
      {title: 'A Private Net Is Just As Fundamental A Right As Freedom Of Speech', link:'#'},
      {title: 'Wiretapping Today Just Doesn’t Mean What The Word Meant In The 1990s, So Don’t Fall For That Lie', link:'#'}
    ]
    tagCloud = [
      {title: 'medium tag', link:'#', size: 'medium'},
      {title: 'xsmall tag', link:'#', size: 'xsmall'},
      {title: 'normal tag', link:'#', size: 'normal'},	
      {title: 'small tag', link:'#', size: 'small'},
      {title: 'exta large tag', link:'#', size: 'xlarge'},
      {title: 'medium tag', link:'#', size: 'medium'},
      {title: 'medium tag', link:'#', size: 'medium'},	
      {title: 'large tag', link:'#', size: 'large'},
      {title: 'small tag', link:'#', size: 'small'},
      {title: 'medium tag', link:'#', size: 'medium'},
      {title: 'xsmall tag', link:'#', size: 'xsmall'},
      {title: 'normal tag', link:'#', size: 'normal'},	
      {title: 'small tag', link:'#', size: 'small'},
      {title: 'exta large tag', link:'#', size: 'xlarge'},
      {title: 'medium tag', link:'#', size: 'medium'},
      {title: 'medium tag', link:'#', size: 'medium'},	
      {title: 'large tag', link:'#', size: 'large'},
      {title: 'small tag', link:'#', size: 'small'},	
    ]	