block project_vars
  - 
    tooltips = [
      {id: 0, bottom: 40, left: 10, content: 'Едва открыв глаза, вдохнуть аромат леса', image: 'tooltip1'},
      {id: 1, bottom: 25, left: 29, content: 'Едва открыв глаза, вдохнуть аромат леса', image: 'tooltip1'},
      {id: 2, bottom: 61, left: 39, content: 'Едва открыв глаза, вдохнуть аромат леса', image: 'tooltip1'},
      {id: 3, bottom: 52, left: 65, content: 'Едва открыв глаза, вдохнуть аромат леса', image: 'tooltip1'},
      {id: 4, bottom: 54, left: 84, content: 'Едва открыв глаза, вдохнуть аромат леса', image: 'tooltip1'},
    ]
    featureList = [
      {
        title: 'Экологично', 
        text: 'Качественные строительные материалы бизнес –класса. Современные строительные технологии.', 
        image: 'images/feature1.svg'
      },
      {
        title: 'Удобно', 
        text: 'Ленинградское или Пятницкое шоссе, 19 км от МКАД. 1 км от г. Зеленоград с инфраструктурой столичного уровня.', 
        image: 'images/feature2.svg'
      },
      {
        title: 'Современно', 
        text: 'Единая архитектурная концепция. <br>Стиль BarnHouse: Минимализм. Лофт. Биотек.', 
        image: 'images/feature3.svg'
      },
      {
        title: 'Выгодно', 
        text: 'Качественные строительные материалы бизнес –класса. Современные строительные технологии.', 
        image: 'images/feature4.svg'
      },
    ]
    houseList = [
      {
        id: 0,
        title: 'Коттедж #28',
        square: '164',
        price: '',
        gallery: ['house1', 'house2', 'house3'],
        plan: ['house_plan1', 'house_plan2'],
      },
      {
        id: 1,
        title: 'Коттедж #39',
        square: '164',
        price: '',
        gallery: ['house1', 'house2', 'house3'],
        plan: ['house_plan1', 'house_plan2'],
      },
      {
        id: 2,
        title: 'Коттедж #19',
        square: '164',
        price: '',
        gallery: ['house1', 'house2', 'house3'],
        plan: ['house_plan1', 'house_plan2'],
      },            
    ],
    houseFeatureList = [
      {
        title: 'Пруд в центре',
        text: 'Наличие собственной береговой линии с пляжем, причалом для лодок и рестораном с летней террасой у воды. В 1,5 км от "Федоскино Парк" - "большая вода": Пяловское, Учинское, Икшинское, Пестовское, Клязьминское водохранилища.',
        image: 'house_feature1'
      },
      {
        title: 'Транспортная доступность',
        text: 'Если Вы любите пробки мегаполиса, - Вам вряд ли понравится близость "Федоскино Парк" к Москве. Всего 15 км по Дмитровскому шоссе, и вы на месте. А после окончания реконструкции шоссе вы устанете оплачивать штрафы за превышение скорости, ведь ваш путь от МКАД будет занимать считанные минуты!',
        image: 'house_feature2'
      }     
    ],
    otherHouseList = [
      {
        title: 'Зеленоградский',
        link: '#',
        price: '3 млн',
        location: 'Новая Рига, 19 км',
        image: 'other_house1'
      },
      {
        title: 'Рождествено',
        link: '#',
        price: '3 млн',
        location: 'Новая Рига, 19 км',
        image: 'other_house2'
      },
      {
        title: 'Зеленоградский',
        link: '#',
        price: '3 млн',
        location: 'Новая Рига, 19 км',
        image: 'other_house1'
      }, 
      {
        title: 'Рождествено',
        link: '#',
        price: '3 млн',
        location: 'Новая Рига, 19 км',
        image: 'other_house2'
      },                
    ],
    footerMenu = [
      {
        list: [
          {title: 'Проекты', link: '#'},
          {title: 'Акции', link: '#'},
          {title: 'Услуги', link: '#'},
          {title: 'Ипотека', link: '#'},
          {title: 'О нас', link: '#'},
          {title: 'Пресс-центр', link: '#'},
          {title: 'Контакты', link: '#'},
        ]
      },
      {
        list: [
          {title: 'КП Середниково Парк', link: '#'},
          {title: 'КП Зеленоградский', link: '#'},
          {title: 'КП Лугинино', link: '#'},
          {title: 'КП Рождествено ', link: '#'},
          {title: 'КП Хьюге хаус', link: '#'},
        ]
      },
      {
        list: [
          {title: '8 800 555 35 35', link: 'tel:8 800 555 35 35'},
          {title: 'info@insli.ru', link: 'mailto:info@insli.ru'},
        ]
      }              
    ]