.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 4rem;
	text-transform: uppercase;
	font-size: 1.4rem;
	font-weight: 500;
	letter-spacing: 0.05rem;
	padding: 0 3rem;
	cursor: pointer;
}
.btn--bordered {
	color: $color_link_accent;
	border: 1px solid $color_link_accent;
	border-radius: 3rem;
	transition: all 0.3s linear;
	background-color: #fff;
	&:hover {
		background-color: $color_link_accent;
		color: #fff;
	}
}
.more_btn {
	text-align: center;
	.btn {
		min-width: 26rem;
	}
}
