.category_link {
	font-size: 1.2rem;
	color: $color_link_accent;
	text-transform: uppercase;
	transition: all 0.3s linear;
	&:hover {
		color: $color_link_focus;
	}
}
.category_link__list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.category_link__item {
	position: relative;
	margin-right: 0.3rem;
	&:last-child {
		margin-right: 0;
	}
	&:not(:last-child):after {
		content: ",";
		color: $color_link_accent;
	}
}