.icon_input {
	position: relative;
}
.icon_input__icon {
	position: absolute;
	left: 1.8rem;
	top: 2rem;
	width: 2rem;
	height: 2rem;
}
.icon_input__field {
	.form_input__element {
		height: 6rem;
		padding-left: 6rem;
		font-size: 1.8rem;
		font-weight: 300;
		&::-webkit-input-placeholder {
			color: #22252e;
		}
	}
}
