.list_title {
	font-size: 1.4rem;
	letter-spacing: 0.06rem;
	font-weight: 500;
	color: #323642;
	text-transform: uppercase;
}
.list_title--link {
	transition: color 0.3s linear;
	&:hover {
		color: $color_link_accent;
	}
}
