.widget_list__item {
	position: relative;
	padding-left: 1rem;
	margin-bottom: 1.6rem;
	&:before {
		content: "•";
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		left: 0;
		height: 2rem;
		width: 0.5rem;
		color: $color_link_accent;
		font-size: 1.6rem;
	}
	&:last-child{
		margin-bottom: 0;
	}
}
.widget_list__link {
	font-size: 1.4rem;
	line-height: 2.2rem;
	color: $black;
	transition: color 0.3s linear;
	&:hover {
		color: $color_link_accent;
	}
}