.blog__header {
	margin-bottom: 4rem;
	@include bp($point_3){
		margin-bottom: 2rem;
	}
}
.blog__wrapper {
	display: grid;
	grid-template-columns: 74rem 40.1rem;
	gap: 6rem;
	margin-bottom: 3rem;
	@include bp($point_1){
		grid-template-columns: 2fr 1fr;
		gap: 3rem;
	}
	@include bp($point_3){
		grid-template-columns: 1fr;
		padding: 0 var(--gl-indent);
	}
}
.blog__sidebar {
	padding: 0 0 0 6rem;
	border-left: 1px solid #ebeced;
	@include bp($point_1){
		padding-left: 3rem;
	}
	@include bp($point_3){
		padding-left: 0;
		border: none;
	}
}