.main_info {
  padding: 14.2rem var(--gl-indent) 21.8rem;
}

.main_info__title {
  @extend %h2;
  padding: 0 0 2.5rem 0;
  border-bottom: 1px solid #cdcdcd;
}

.main_info__list {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.2rem 10.8rem ;
  padding: 4.2rem 0;
  &:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #cdcdcd;
  }
}

.main_info__item {
  @extend %text;
  @extend %global_flex_block_row_wrap_flex-start;
}

.info_item__title{
  margin: 0 auto 0 0;
}