extends ../layout/_layout

block content_block
	+header()
	include ../blocks/main_hero
	include ../blocks/features_grid
	include ../blocks/main_plan
	include ../blocks/house_list
	include ../blocks/house_features
	include ../blocks/main_info
	include ../blocks/contact_us
	include ../blocks/other_houses