.footer {
  width: 100%;
  min-height: var(--height-footer);
  flex: 0 0 auto;

  padding: 0 8rem;

  font-size: 1rem;

  will-change: transform;

  background-color: #333;
}

.footer_row {
  @extend %global_flex_block_e;

	padding-top: 4rem;

	border-top: 1px solid rgba(255, 255, 255, 0.1);

	&:first-child {
		padding-top: 5.6rem;
		padding-bottom: 10rem;
	}
}

.footer_column {
  @extend %global_flex_block_e;

  &:first-child {
    margin-right: auto;
  }
}

.footer_column--menu_mod {
  width: 60%;
}

.footer_list {
  width: 33%;
}


.footer_list__link {
  @extend %footer_link;

	&:hover {
		color: $accent;
	}
}

.footer_copyright {
	@extend %global_flex_block_row_wrap_space_between;

	width: 100%;
	padding-bottom: 4rem;
	
	a {
		&:hover {
			color: $accent;
		}
	}
}

.footer_copyright__item {
	@extend %footer_link;
}